Genetica/PatagoniaDataSetWithOutgroups_ALAB2025/
Genetica/Modulo2/filteredDataSet*
Genetica/Modulo3/filteredDataSet*
Genetica/filteredDataSet.pcaProject
Integración/NJwithGenomicData.nwk
Integración/NJwithMorphologicalData.nwk
.nfsa225cf1479d5f20100047ac4
Genetica/filteredDataSet_subset.pcaProject
Genetica/Modulo3/ModeDetection_Hclust.R
-h
Genetica/DatosModulo2.tar.gz
Genetica/DatosModulo3.tar.gz
Genetica/Modulo2/PMR_allAncientTogether_MAF0.01.txt
