Genetica/PatagoniaDataSetWithOutgroups_ALAB2025/
Genetica/Modulo2/filteredDataSet*
Genetica/Modulo3/filteredDataSet*
Genetica/filteredDataSet.pcaProject
Integración/NJwithGenomicData.nwk
Integración/NJwithMorphologicalData.nwk
